.header {
    padding: 16px;
    background-color: #539af2;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
    width: 100%;
    max-width: 550px;
}

.button {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    padding: 0;

    font-size: 18px;
    color: #555;
    cursor: pointer;
}

.button:hover {
    color: #000;
}

.input {
    width: 100%;
    padding: 12px 16px 12px 44px;
    font-size: 16px;

    border: none;
    border-radius: 6px;
    outline: none;

    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.input::placeholder {
    color: #888;
}

body {
    padding: 0;
    margin: 0;
}