.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    list-style: none;
    justify-content: center;
}

ul {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}